@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ejemplo de uso de line-clamp para mostrar solo la primera línea */
.line-clamp-1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

button,
li,
input,
a {
	transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

/* Modal */
.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 0.2s ease-in-out;
	z-index: 999;
}

.modal-fondo {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Content {
	padding: 0 !important;
	border-radius: 1.5rem !important;
	margin: 0 !important;
	@apply shadow;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
	padding: 0;
	border-radius: 1.5rem;
	margin: 0;
}

.modal {
	background: white;
	color: rgb(51, 51, 51);
	display: inline;
	width: fit-content;
	height: fit-content;
	outline: none;
	border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
	background: #3a84f5;
	border-radius: 0.5rem;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #1b1b2f;
}

@media screen and (max-width: 768px) {
	.ReactModal__Content {
		width: 90%;
	}
}
